Welcome to railstart.de, #{@user.email}
\===============================================

You have successfully signed up to railstart.de,
your username is: #{@user.email}.

To login to the site, just follow this link: #{@url}.

Thanks for joining and have a great day!
